:root {
    --background-color: rgb(26, 30, 46);
    --text-color: rgb(121, 138, 156);
    --bs-body-font-family: "arsenica-variable", sans-serif !important;
    --bs-body-font-variation-settings: 'wght' 400, 'opsz' 100 !important;
    --page-row-1: 500px;

}

body {
    background-color: var(--background-color) !important;
    font-family: "arsenica-variable", sans-serif;
    font-variation-settings: "opsz" 100, "wght" 400;
    color: rgb(121, 138, 156) !important
}

a.active {
    text-decoration: underline;
}

.under-construction-banner {
    background-color: black;
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    padding: 24px;
    border-top: 2px solid;
}

.under-construction-banner-item {
    flex-grow: 1;

}

.brand-container {
    display: flex;
    align-items: flex-end;
}

#the-item {
    fill: var(--text-color) !important;
    flex-grow: 1;
    padding: .5rem 0 .5rem 0;
    display: flex;
    flex-direction: column;
}

#brand-item {
    fill: var(--text-color) !important;
    flex-grow: 9;
    padding: .5rem .5rem .5rem 0;
}

#corner-item {
    align-self: stretch;
    flex-grow: 2;
    border-left: 2px solid;
}


.nav-container {
    position: sticky;
    display: flex;
    justify-content: center;
    top: -2px;
    background-color: var(--background-color);
    border-top: 2px solid;
    border-bottom: 2px solid;
}

.nav-item {
    color: rgb(121, 138, 156) !important;
    padding: 0 1rem;
    text-decoration: none;
    font-weight: 500;
    transition: color 1s ease-out 100ms;
}

.nav-item:hover {
    color: rgb(115, 190, 215);
}


#corner {
    border-left: 2px solid;
}


.newspaper-containter {
    padding: 20px;
}

.nav-newspaper {
    border-top: 2px solid;
    border-bottom: 2px solid;
    padding: 2px;
}

* {
    border-style: 2px solid !important;
    user-select: none;
}

.color-grey {
    color: rgb(121, 138, 156) !important;
}

.pane {
    /* max-height: var(--page-row-1); */
    text-align: justify;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}


.page-row-1 {
    /* height: var(--page-row-1); */
}